{% extends 'base.html.twig' %}

{% block title %}Brand{% endblock %}

{% block body %}
    <h1 class="headline">Brand info</h1>

   <div class="show">
        <h2 class="fans-title">Name: {{ brand.name }}</h2>
        <hr>
        <p class="card_text">Country: {{ brand.country }}</p>
    
        <p class="card_text">Email: {{ brand.email }}</p>
        <p class="card_text">Address: {{ brand.address }}</p>
   </div>
           
           

<div class="products">
<h2 class="headline">All product from this brand</h2>
    {% for product in products %}
    <div class="card" style="width: 15rem;">
        <img src="{{ asset('pictures/' ~ product.picture) }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price }} &#8364;</p>
            <a href="{{ path('app_user_access_show', {'id': product.id}) }}">show</a>
        </div>
    </div>
        
    {% endfor %}
</div>

{% endblock %}
