{# {% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="category">
        <h5>Categories</h5>
        {% for product in products %}
        <a href="{{ path('app_static_category', {'type':product.type}) }}">{{ product.type }}</a>
        {% endfor %}
    </div>

    <h1 class="headline">Product Catalogue</h1>

    <div class="parts-container container">
            <div class="row row-cols-md-3">
                {% for product in products %}
                <div class="box">
                    <h3>Special Fans</h3>
                    <img src="{{ asset('pictures/' ~ product.picture) }}" class="card-img-top" alt="Fan">
                    <h2 class="fans-title">{{ product.name }}</h2>
                    <hr>
                    <p class="type">{{ product.type }}</p>
                    {% if product.discount > 0 %}
                    <p class="oldPrice">{{ product.price }} &#8364;</p>
                        <p class="price">{{ product.price - (product.price * product.discount) }} &#8364;</p>
                    {% else %}
                        <p class="price">{{ product.price }} &#8364;</p>
                    {% endif %}
                    <a href="{{ path('app_static_show', {'id': product.id}) }}" class="btn">Details</i></a> 
                    
                </div>
                {% endfor %}
            </div>
    </div>

{% endblock %}
 #}
{# 
{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

   {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product-styles.css') }}">
{% endblock %}



{% block body %}
    <nav class="category">
        <h2>Categories</h2>
        {% for product in products %}
        <a href="{{ path('app_static_category', {'type':product.type}) }}">{{ product.type }}</a>
        {% endfor %}
    </nav>

    <div class="container">
        <h1 class="headline text-center mb-5">Product Catalogue</h1>

        <div class="row row-cols-md-3 g-4">
            {% for product in products %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ asset('pictures/' ~ product.picture)|raw }}" class="card-img-top" alt="{{ product.name }} fan">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.type }}</p>
                        <p class="price{% if product.discount > 0 %} old-price{% endif %}}">{{ product.price }} &#8364;</p>
                        {% if product.discount > 0 %}
                        <p class="price">{{ product.price - (product.price * product.discount) }} &#8364;</p>
                        {% endif %}
                        <a href="{{ path('app_static_show', {'id': product.id}) }}" class="btn btn-primary stretched-link">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

   
{% endblock %} #}


{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
          integrity="sha384-0ks01E8M0+nRgMKNXG9OCKIbbEgjgfuBbGogoCfL/LtYY4L4z7cu4EZ2OTh3OrX9"
          crossorigin="anonymous">

{% endblock %}
{% block navbar %} {% include "components/navbar.html.twig" %} {% endblock %}
{% block body %}
    <nav class="category">
        {% for product in products %}
        <a href="{{ path('app_static_category', {'type':product.type}) }}" class="categoryBtn">{{ product.type }}</a>
        {% endfor %}
    </nav>

    <div class="container">
        <h1 class="headline text-center mb-5">Product <span>Catalogue</span></h1>

        <div class="row row-cols-md-3 g-4">
            {% for product in products %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ asset('pictures/' ~ product.picture)|raw }}" class="card-img-top" alt="{{ product.name }} fan">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.type }}</p>
                        <p class="price{% if product.discount > 0 %} old-price{% endif %}}">{{ product.price }} &#8364;</p>
                        {% if product.discount > 0 %}
                        <p class="price">{{ product.price - (product.price * product.discount) }} &#8364;</p>
                        {% endif %}
                        <a href="{{ path('app_static_show', {'id': product.id}) }}" class="btn btn-primary stretched-link">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-ZbYKjRgkMw6Md/OI86TrQg8MsJ1OG/WKCrIayxmkG9e/+8oNKqqKyFk5H5Tk5A5/"
            crossorigin="anonymous"></script>
{% endblock %}