{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
{% for product in products %}
    <h1 class="headline">Category {{ product.type }}</h1>
    {% endfor %}

    <div class="parts-container container">
        <div class="row row-cols-md-3">
            {% for product in products %}
            <div class="box">
                <h3>Special Fans</h3>
                <img src="{{ asset('pictures/' ~ product.picture) }}" class="card-img-top" alt="Fan">
                <h2 class="fans-title">{{ product.name }}</h2>
                <hr>
                <p class="type">{{ product.type }}</p>
                {% if product.discount > 0 %}
                <p class="oldPrice">{{ product.price }} &#8364;</p>
                    <p class="price">{{ product.price - (product.price * product.discount) }} &#8364;</p>
                {% else %}
                    <p class="price">{{ product.price }} &#8364;</p>
                {% endif %}
                <a href="{{ path('app_static_show', {'id': product.id}) }}" class="btn">Details</i></a> 
                
            </div>
            {% endfor %}
        </div>
</div>


{% endblock %}
