    {% extends 'base.html.twig' %}

    {% block title %}Product index{% endblock %}

    {% block stylesheets %} 
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
    {% endblock %}
    
    {% block body %}
    

        <header class="header">
            <div class="text">
                <h1>ONLY<span>Fans</span></h1>
                    <div class="headline">
                        <h2>FOR YOUR
                            <br>
                                HOT LONG
                                    <br>
                                        NIGHTS</h2>
            </div>



            
    













            

            
        <div class="navContain">
            <div class="navbar">
                <ul class="active">
                    <li class="list">
                        <a href="{{ path('app_product_index') }}">
                            <span class="icon">
                                <i class="fa-brands fa-shopify"></i>
                            </span>
                            <span class="text">Shop</span>
                        </a>
                            </li>
                            <li class="list">
                                <a href="{{ path('app_about') }}">
                                    <span class="icon">
                                        <i class="fa-solid fa-fan"></i>
                                    </span>
                                    <span class="text">About</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="{{ path('app_contact') }}">
                                    <span class="icon">
                                        <i class="fa-solid fa-phone-volume"></i>
                                    </span>
                                    <span class="text">Contact</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="{{ path('app_login') }}">
                                    <span class="icon">
                                        <i class="fa-solid fa-user" id="login-btn"></i>
                                    </span>
                                    <span class="text">Fans</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="{{ path('app_order_item') }}">
                                    <span class="icon">
                                        <i class="fa-brands fa-opencart"></i>
                                    </span>
                                    <span class="text">Cart</span>
                                </a>
                            </li>
                            <div class="indicator"></div>
                        </ul>
                    </div>
            </div>
    
                <!-- <form method="post" class="login-form slide-in from-right">
                    <h3>Login</h3>
                        <input type="email" name="email" placeholder="enter your email" class="box">
                        <input type="password" name="password" placeholder="enter your password" class="box">
                        <input type="checkbox" name="checkbox" id="remember-me">
                        <label for="remember-me">Remember Me</label>
                        <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}">
                    <a href="{{ path('app_login') }}" class="btn btn-lg btn-primary">
                        Sign in
                    </a>
                    <div class="links">
                        <a href="{{ path('app_logout') }}">Logout</a>
                        <a href="{{ path('app_register') }}">Sign Up</a>
                    </div>
                </form> -->

    














                            <div class="fanImg fade-in">
                                <img src="/pictures/fan13.png" alt="">
                            </div>
    
                        <div class="empty"></div>
    
                            <div class="handFan slide-in from-right">
                                <img src="/pictures/bluehand.png" alt="">
                            </div>
        </div>

        
        
        </header>
    
    
    
        <section class="hero-bottom">
    
            
            <div class="text1">
                <div class="container">
                    <h1>ENIGMA</h1>
                    <p>Enthusiastic <br>Devoted,<br>
                    <b><i>Passionate</b></i><br> Loyal, Ardent.</p>
                    <br>
                    <h3>350 <span>EUR</span></h3>
                    <br>
                    <button class="addBtn">Add To Cart</button>
                    <div class="icon">
                </div>
            </div>
            
            <div class="hero">
                <img src="pictures/bluefan.png" alt="fan">
            </div> 
        </section> 
    
    
    
    
    
    
    
    
    
        <main>
           <section class="home-intro">
                <h1 class="normalText fade-in">Are You A FAN?</h1>
            </section> 
                <div class="home-about">
                    <h2>Size Matters</h2>
                    <p>The size of your room can help determine the size of your fan!</p>
                    <br>
                    <hr>
                    <br>
                    <br>
                    <div class="columns">
                        <div class="col fade-in">
                            <h3>Small</h3>
                            <br>
                            <p>"Miniature relief, for when the sun's a thief."</p>
                        </div>
    
                        <div class="col fade-in">
                            <h3>Medium</h3>
                            <br>
                            <p>"Not too small, not too tall, just the right size to cool us all!"</p>
                        </div>
    
                        <div class="col fade-in">
                            <h3>Large</h3>
                            <br>
                            <p>"Feeling hot and bothered? Let this giant fan leave you smothered...in coolness."</p>
                        </div>
                    </div>
                </div>
    
    
    
    
    
    
                <div class="home-more-stuff">
                    <div class="more-stuff-grid">
                        <img src="/pictures/airfan.png" alt="" class="slide-in from-left">
                        <p class="slide-in from-right">
                            We offer a diverse line of fans with equally diverse features!
                        </p>
                    </div>
                
    
            
                    <div class="more-stuff-grid">
                        <img src="/pictures/fanlogo.png" alt="" class="slide-in from-right">
                        <p class="slide-in from-left">
                            Airflow is measured in CFM (cubic feet per minute), energy used is measured in watts!
                        </p>
                    </div>
                
    
                
                    <div class="more-stuff-grid">
                        <img src="/pictures/remote.png" alt="" class="slide-in from-left">
                        <p class="slide-in from-right">
                            Download the fanSync app to your smart device from Google Play or the App Store!
                        </p>
                    </div>
                </div>
    
        </main>
    
        <section class="section3">
            <div class="contact">
            </div>
        </section>
    
    
        <footer class="dk-footer" id="dk-footer">
                    <div class="search-container">
                        <button class="search-button">Search</button>
                        <input type="text" class="search-input" placeholder=" ...">
                        <div class="container1">
                        <div class="footer-widget footer-left-widget">
                            <div class="section-heading">
                                    <span class="animate-border"></span>
                            </div>
                        </div>
                    </div>
                      </div>
            
        </footer>



     <script src=" {{ asset('js/script.js') }}"></script>
    
    {% endblock %}
    