    {% extends 'base.html.twig' %}

    {% block title %}Product index{% endblock %}
    
    {% block body %}
    
    <!-- <h5>categories</h5>
    {% for product in products %}
    <a href="{{ path('app_static_category', {'type':product.type}) }}">{{ product.type }}</a>
    {% endfor %}
        <h1>Product index</h1>
    
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Brand</th>
                    <th>Prod_dimensions</th>
                    <th>Short_description</th>
                    <th>discount</th>
                    <th>Picture</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
            {% if product.approved == 1 %}
            
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    
                    {% if product.discount > 0 %}
                <td><p style="text-decoration: line-through;">{{ product.price }} &#8364;</p>
                <p>{{ product.price - (product.price * product.discount) }} &#8364;</p></td> 
                {% else %}
                    <td>{{ product.price }} &#8364;</td> 
                {% endif %}

                    <td>{{ product.type }}</td>
                    <td>{{ product.FkBrand.name }}</td>
                    <td>{{ product.prodDimensions }}</td>
                    <td>{{ product.shortDescription }}</td>
                    
                    
                    <td>{% if product.discount > 0 %}
                        {{ product.discount }} 
                        {% else %}
                            no discount
                        {% endif %}</td>
                    <td><img src="{{ product.picture }}" alt="" height="70px"></td>
                    <td>
                        <a href="{{ path('app_static_show', {'id': product.id}) }}">show</a>
    
                    </td>
                </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="17">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table> -->

        <header class="header">
            <div class="text">
                <h1>ONLY<span>Fans</span></h1>
                    <div class="headline">
                        <h2>FOR YOUR
                            <br>
                                HOT LONG
                                    <br>
                                        NIGHTS</h2>
            </div>
    
        <div class="navContain">
            <div class="navbar">
                <ul class="active">
                    <li class="list">
                        <a href="{{ path('app_product_index') }}">
                            <span class="icon">
                                <i class="fa-brands fa-shopify"></i>
                            </span>
                            <span class="text">Shop</span>
                        </a>
                            </li>
                            <li class="list">
                                <a href="{{ path('app_about') }}">
                                    <span class="icon">
                                        <i class="fa-solid fa-fan"></i>
                                    </span>
                                    <span class="text">About</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="{{ path('app_contact') }}">
                                    <span class="icon">
                                        <i class="fa-solid fa-phone-volume"></i>
                                    </span>
                                    <span class="text">Contact</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#">
                                    <span class="icon">
                                        <i class="fa-solid fa-user" id="login-btn"></i>
                                    </span>
                                    <span class="text">Fans</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="{{ path('app_order_item') }}">
                                    <span class="icon">
                                        <i class="fa-brands fa-opencart"></i>
                                    </span>
                                    <span class="text">Cart</span>
                                </a>
                            </li>
                            <div class="indicator"></div>
                        </ul>
                    </div>
                </div>
    
                <form method="post" class="login-form slide-in from-right">
                    <h3>Login</h3>
                        <input type="email" name="email" placeholder="enter your email" class="box">
                        <input type="password" name="password" placeholder="enter your password" class="box">
                    <div class="remember">
                        <input type="checkbox" name="checkbox" id="remember-me">
                        <label for="remember-me">Remember Me</label>
                    </div>
                    <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                    <div class="links">
                        <a href="#">Forgot Password?</a>
                        <a href="{{ path('app_logout') }}">Logout</a>
                        <a href="{{ path('app_register') }}">Sign Up</a>
                    </div>
                </form>
    
                            <div class="fanImg fade-in">
                                <img src="/pictures/fan13.png" alt="">
                            </div>
    
                        <div class="empty"></div>
    
                            <div class="handFan slide-in from-right">
                                <img src="/pictures/bluehand.png" alt="">
                            </div>
        
        </header>
    
    
    
        <section class="hero-bottom">
    
            
            <div class="text1">
                <div class="container">
                    <h1>ENIGMA</h1>
                    <p>Enthusiastic <br>Devoted,<br>
                    <b><i>Passionate</b></i><br> Loyal, Ardent.</p>
                    <br>
                    <h3>350 <span>EUR</span></h3>
                    <br>
                    <button class="addBtn">Add To Cart</button>
                    <div class="icon">
                </div>
            </div>
            
            <div class="hero">
                <img src="pictures/bluefan.png" alt="fan">
            </div> 
        </section> 
    
    
    
    
    
    
    
    
    
        <main>
           <section class="home-intro">
                <h1 class="normalText fade-in">Are You A FAN?</h1>
            </section> 
            
    
                <div class="home-about">
                    <h2>About</h2>
                    <br>
                    <hr>
                    <br>
                    <br>
                    <div class="columns">
                        <div class="col fade-in">
                            <h3>Lorem.</h3>
                            <br>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis aspernatur ipsum, qui labore obcaecati in. Ipsa laudantium soluta iusto quisquam.</p>
                        </div>
    
                        <div class="col fade-in">
                            <h3>Lorem.</h3>
                            <br>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis aspernatur ipsum, qui labore obcaecati in. Ipsa laudantium soluta iusto quisquam.</p>
                        </div>
    
                        <div class="col fade-in">
                            <h3>Lorem.</h3>
                            <br>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis aspernatur ipsum, qui labore obcaecati in. Ipsa laudantium soluta iusto quisquam.</p>
                        </div>
                    </div>
                </div>
    
    
    
    
    
    
                <div class="home-more-stuff">
                    <div class="more-stuff-grid">
                        <img src="/pictures/airfan.png" alt="" class="slide-in from-left">
                        <p class="slide-in from-right">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa sequi corporis fugit voluptate natus magnam!
                        </p>
                    </div>
                
    
            
                    <div class="more-stuff-grid">
                        <img src="/pictures/fanlogo.png" alt="" class="slide-in from-right">
                        <p class="slide-in from-left">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa sequi corporis fugit voluptate natus magnam!
                        </p>
                    </div>
                
    
                
                    <div class="more-stuff-grid">
                        <img src="/pictures/remote.png" alt="" class="slide-in from-left">
                        <p class="slide-in from-right">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa sequi corporis fugit voluptate natus magnam!
                        </p>
                    </div>
                </div>
    
        </main>
    
        <section class="section3">
            <div class="contact">
            </div>
        </section>
    
    
        <footer class="dk-footer" id="dk-footer">
            <div class="container1">
                    <div class="footer-widget footer-left-widget">
                            <div class="section-heading">
                                    <span class="animate-border border-black"></span>
                            </div>
                    </div>
            </div>
            
        </footer>



     <script src=" {{ asset('js/script.js') }}"></script>
    
    {% endblock %}
    