{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block stylesheets %} 
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('css/show.css')}}">
    {% endblock %}

{% block body %}
    <h1 class="text-center m-5">{{ product.name }}</h1>
    
    <div class="d-flex align-items-center m-5 productBox bg-info">
        <div class="flex-shrink-0 imgBox w-50 m-3">
          <img src="{{ asset('pictures/' ~ product.picture) }}" class="detailsImage">
        </div>
        <div class="flex-grow-1 ms-3">
            {% if product.discount > 0 %}
                <p class="oldPrice detailsText">{{ product.price }} &#8364;</p>
                <p class="price detailsText">{{ discountPrice }} &#8364;</p>
            {% else %}
                <p>{{ product.price }} &#8364;</p>
            {% endif %}
            
                <p>Brand: {{ brand.name }}</p>
            <p class="detailsText">Dimentions: {{ product.prodDimensions }}</p>
            <p class="detailsText">Description: {{ product.description }}</p>
            <p class="detailsText">Color: {{ product.color }}</p>
            <p class="detailsText">Max power: {{ product.powerMax }}</p>
            <p class="detailsText">Power source: {{ product.powerSource }}</p>
            <p class="detailsText">Availability: {{ product.availability ? 'Yes' : 'No' }}</p>
            <p class="detailsText">Left in stock: {{ product.quantityLeft }}</p>
            <p class="detailsText">Material: {{ product.material }}</p>
            <p class="detailsText">Special features: {{ product.specialFeatures }}</p>
            <p class="detailsText">Style: {{ product.style }}</p>
        </div>
    </div>

 <h2 class="text-center m-5">All products from category {{ type }}</h2>
    <div class="categoryProducts">
       
        {% for product in products %}
            {% if type == product.type %}
                <div class="card" style="width: 15rem; height: 22rem">
                    <img src="{{ asset('pictures/' ~ product.picture) }}" class="card-img-top" height="50%">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price }} &#8364;</p>
                        <a href="{{ path('app_static_show', {'id': product.id}) }}" class="btn btns">Details</a>
                    </div>
                </div>
            {% endif %}
           {% endfor %}
    </div>

  
    <div class="questions w-75 m-auto">
    <h5 class="text-center">Questions</h5>
    {% for question in reviews %}
        {% if question.type == 'question' %}
        <div class="d-flex question">
            <div class="flex-shrink-0">
                <p>{{question.fkAuthor.email}}</p>
            </div>
            <div class="flex-grow-1 ms-3">
                <p>{{question.review}}</p>
            </div>
        </div> 
        {% endif %}

        {% if question.type == 'answer' %}
        {# <h6>Answers</h6> #}
        <div class="d-flex answer">
            <div class="flex-shrink-0">
                <p>{{question.fkAuthor.email}}</p>
                
            </div>
            <div class="flex-grow-1 ms-3">
                <p>{{question.review}}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}    
    </div>


    <div class="reviews w-75 m-auto">  
    <h5 class="text-center">Reviews</h5>
    {% for review in reviews %} 
        {% if review.type == 'review' %} 
            <div class="review">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                            <p>{{review.fkAuthor.email}}</p>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5>{{review.title}}</h5>
                        <p>Raiting: {{review.rating}}</p>
                        <p>{{review.review}}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}