{% extends 'base.html.twig' %}
{% block stylesheets %} 
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('css/edit.css')}}">
    {% endblock %}
{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container">
    <div class="info">
        <h1>Edit User</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Update') }}</button>
            <a href="/user/delete" class="btn ms-5">Delete</a>
        {{ form_end(form) }}
        
    </div>
</div>
    


    
{% endblock %}
