{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<h5>categories</h5>
    {% for product in products %}
    <a href="{{ path('app_user_access_category', {'type':product.type}) }}">{{ product.type }}</a>
    {% endfor %}

    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Prod_dimensions</th>
                <th>Short_description</th>
                <th>discount</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
        {% if product.approved == 1 %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                {% if product.discount > 0 %}
                <td><p style="text-decoration: line-through;">{{ product.price }} &#8364;</p>
                <p>{{ product.price - (product.price * product.discount) }} &#8364;</p></td> 
                {% else %}
                    <td>{{ product.price }} &#8364;</td> 
                {% endif %}
                <td>{{ product.type }}</td>
                <td>{{ product.FkBrand.name }}</td>
                <td>{{ product.prodDimensions }}</td>
                <td>{{ product.shortDescription }}</td>
                
                
                <td>{% if product.discount > 0 %}
                    {{ product.discount }}
                    {% else %}
                        no discount
                    {% endif %}</td>
                <td><img src="{{ product.picture }}" alt="" height="70px"></td>
                
            
                <td>
                    <a href="{{ path('app_user_access_show', {'id': product.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_user_access_addtocart', {'id': product.id}) }}" class="btn btn-success">Add To Cart</a>
                    <a href="{{ path('app_reviews_new', {'id': product.id}) }}" class="btn btn-primary">Create New Review</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}