{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block stylesheets %} 
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('css/user.css')}}">
{% endblock %}

{% block body %}

<h5>categories</h5>
    {% for product in products %}
    <a href="{{ path('app_user_access_category', {'type':product.type}) }}">{{ product.type }}</a>
    {% endfor %}

    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Prod_dimensions</th>
                <th>Short_description</th>
                <th>discount</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
        {% if product.approved == 1 %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                {% if product.discount > 0 %}
                <td><p style="text-decoration: line-through;">{{ product.price }} &#8364;</p>
                <p>{{ product.price - (product.price * product.discount) }} &#8364;</p></td> 
                {% else %}
                    <td>{{ product.price }} &#8364;</td> 
                {% endif %}
                <td>{{ product.type }}</td>
                <td>{{ product.FkBrand.name }}</td>
                <td>{{ product.prodDimensions }}</td>
                <td>{{ product.shortDescription }}</td>
                
                
                <td>{% if product.discount > 0 %}
                    {{ product.discount }}
                    {% else %}
                        no discount
                    {% endif %}</td>
                <td><img src="{{ asset('pictures/' ~ product.picture) }}" alt="" height="70px"></td>
                
                <td>
                
                    <a href="{{ path('app_user_access_show', {'id': product.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_user_access_addtocart', {'id': product.id}) }}" class="btn btn-success">Add To Cart</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
            </table>
        {% endfor %}
       
  </tbody>
  </table>

        
<div class="parts-container container">
  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <h3>Special Fans</h3>
        <img src="{{ asset('pictures/fan1.jpg') }}" class="card-img-top" alt="Fan">
        <h2 class="fans-title">Best Fans</h2>
        <hr>
        <span class="price">€100</span>
        <i class='bx bx-shopping-bag add-cart'></i>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <h3>Special Fans</h3>
        <img src="{{ asset('pictures/fan2.jpg') }}" class="card-img-top" alt="Fan">
        <h2 class="fans-title">Best Fans</h2>
        <hr>
        <span class="price">€100</span>
        <i class='bx bx-shopping-bag add-cart'></i>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <h3>Special Fans</h3>
        <img src="{{ asset('pictures/fan3.jpg') }}" class="card-img-top" alt="Fan">
        <h2 class="fans-title">Best Fans</h2>
        <hr>
        <span class="price">€100</span>
        <i class='bx bx-shopping-bag add-cart'></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <h3>Special Fans</h3>
        <img src="{{ asset('pictures/fan4.jpg') }}" class="card-img-top" alt="Fan">
        <h2 class="fans-title">Best Fans</h2>
        <hr>
        <span class="price">€390</span>
        <i class='bx bx-shopping-bag add-cart'></i>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <h3>Special Fans</h3>
        <img src="{{ asset('pictures/fan5.jpg') }}" class="card-img-top" alt="Fan">
        <h2 class="fans-title">Best Fans</h2>
        <hr>
        <span class="price">€500</span>
        <i class='bx bx-shopping-bag add-cart'></i>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <h3>Special Fans</h3>
        <img src="{{ asset('pictures/fan6.jpg') }}" class="card-img-top" alt="Fan">
        <h2 class="fans-title">Best Fans</h2>
        <hr>
        <span class="price">€500</span>
        <i class='bx bx-shopping-bag add-cart'></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <h3>Special Fans</h3>
        <img src="{{ asset('pictures/fan7.jpg') }}" class="card-img-top" alt="Fan">
        <h2 class="fans-title">Best Fans</h2>
        <hr>
       <span class="price">€500</span>
        <i class='bx bx-shopping-bag add-cart'></i>
      </div>
    </div>
  </div>

</section>

 <section class="blog" id="blog">
        <div class="heading">
            {# <span>Blog & News</span> #}
            <h2>Our Blog Content</h2>
            <p>We are focusing not only for quntity but a qulity more.</p>
        </div>
        <!-- Blog Container -->
        <div class="blog-container container">
            <!-- Box 1 -->
            <div class="box">
                <img src="{{ asset('pictures/fan9.jpg') }}" class="card-img-top" alt="Fan">
                <span>Jan 10 2023</span>
                <h3>Get The perfect Fans At Low Price</h3>
                <p>We are focusing not only for quntity but a qulity more.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
            </div>
            <!-- Box 2 -->
            <div class="box">
                <img src="{{ asset('pictures/fan10.png') }}" class="card-img-top" alt="Fan">
                <span>Feb 11 2023</span>
                <h3>Get The perfect Fans At Low Price</h3>
                <p>We are focusing not only for quntity but a qulity more.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
            </div>
            <!-- Box 3 -->
            <div class="box">
                <img src="{{ asset('pictures/fan11.jpg') }}" class="card-img-top" alt="Fan">
                <span>March14 2023</span>
                <h3>Get The perfect Fans At Low Price</h3>
                <p>We are focusing not only for quntity but a qulity more.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
            </div>
            <div class="box">
                <img src="{{ asset('pictures/fan12.jpg') }}" class="card-img-top" alt="Fan">
                <span>Feb 8 2023</span>
                <h3>Get The perfect Fans At Low Price</h3>
                <p>We are focusing not only for quntity but a qulity more.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
            </div>
            <div class="box">
                <img src="{{ asset('pictures/fan13.jpg') }}" class="card-img-top" alt="Fan">
                <span>Feb 14 2023</span>
                <h3>Get The perfect Fans At Low Price</h3>
                <p>We are focusing not only for quntity but a qulity more.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
            </div>
            <div class="box">
                <img src="{{ asset('pictures/fan14.jpg') }}" class="card-img-top" alt="Fan">
                <span>Feb 14 2023</span>
                <h3>Get The perfect Fans At Low Price</h3>
                <p>We are focusing not only for quntity but a qulity more.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
            </div>
            <div class="box">
                <img src="{{ asset('pictures/fan15.png') }}" class="card-img-top" alt="Fan">
                <span>Feb 14 2023</span>
                <h3>Get The perfect Fans At Low Price</h3>
                <p>We are focusing not only for quntity but a qulity more.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
            </div>
            <div class="box">
                <img src="{{ asset('pictures/fan16.jpg') }}" class="card-img-top" alt="Fan">
                <span>Feb 14 2023</span>
                <h3>Get The perfect Fans At Low Price</h3>
                <p>We are focusing not only for quntity but a qulity more.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
            </div>
            <div class="box">
                <img src="{{ asset('pictures/fan17.jpg') }}" class="card-img-top" alt="Fan">
                <span>Feb 14 2023</span>
                <h3>Get The perfect Fans At Low Price</h3>
                <p>We are focusing not only for quntity but a qulity more.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
            </div>
            <div class="box">
                <img src="{{ asset('pictures/standfan.png') }}" class="card-img-top" alt="Fan">
                <span>Feb 14 2023</span>
                <h3>Get The perfect Fans At Low Price</h3>
                <p>We are focusing not only for quntity but a qulity more.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
            </div>
        </div>
    </section>
      
<section class="review" id="review">
        <div class="heading">
            {# <span>Blog & News</span> #}
            <h2>Customer Review</h2>
            <h1>Here some of them what they said for us .</h1>
        </div>
    <div class="blog-container container">
              <div class="box">
            <img src="{{ asset('pictures/test1.jpg') }}" class="card-img-top" alt="Fan">
            <h3 class="text-center">Anna Gomaz</h3>
            <span>Feb 14 2023</span>
            <h3>OnlyFans is more than what I expected. Their fans are not laud and comfortable including the sleeping time. </h3>
            <p>Also their durbilty and quality are fantastic</p>
          
            <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
        </div>
        <div class="box">
           <img src="{{ asset('pictures/test2.jpg') }}" class="card-img-top" alt="Fan">
            <span>Feb 14 2023</span>
            <h3>Dian Otto</h3>
            <p>OnlyFans is more than what I expected. Their fans are not laud and comfortable including the sleeping time.Also their durbilty and quality are fantastic</p>
           
            <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
        </div>
        <div class="box">
            <img src="{{ asset('pictures/test3.jpg') }}" class="card-img-top" alt="Fan">
            <span>Feb 14 2023</span>
            <h3>Lisa Tola</h3>
            <p>OnlyFans is more than what I expected. Their fans are not laud and comfortable including the sleeping time.Also their durbilty and quality are fantastic.</p>
            
            <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
        </div>
    </div>
    </div>

</section> 
<script src=" {{ asset('js/script.js') }}"></script>
{% endblock %}