{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    {% if  banMessage|default(null) %}
        <div class="alert alert-danger">
            {{ banMessage }}
        </div>
    {% endif %}

    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Prod_dimensions</th>
                <th>Short_description</th>
                <th>discount</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
        {% if product.approved == 1 %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.FkBrand.name }}</td>
                <td>{{ product.prodDimensions }}</td>
                <td>{{ product.shortDescription }}</td>
                
                
                <td>{% if product.discount > 0 %}
                    {{ product.discount }}
                    {% else %}
                        no discount
                    {% endif %}</td>
                <td><img src="{{ product.picture }}" alt="" height="70px"></td>
                <td>
                    <a href="{{ path('app_user_access_show', {'id': product.id}) }}">show</a>

                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}