{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
           
                {% if product.discount > 0 %}
            <tr>
                <th>Old price</th>
                <td>{{ product.price }} &#8364;</td>
            </tr>
            <tr>
                <th>Price with discount</th>
                <td>{{ discountPrice }} &#8364;</td>
            </tr>
            {% else %}
            <tr>
                <th>Price</th>
                <td>{{ product.price }} &#8364;</td>
            </tr>
            {% endif %}
            <tr>
                <th>Type</th>
                <td>{{ product.type }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                {# for admin #}
                {# <td><a href="{{ path('app_brand_show', {'id': brand.id}) }}">{{ brand.name }}</a></td> #}
                {# for users #}
                <td><a href="{{ path('app_user_access_brand', {'id': brand.id}) }}">{{ brand.name }}</a></td>
            </tr>
            <tr>
                <th>Prod_dimensions</th>
                <td>{{ product.prodDimensions }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ product.color }}</td>
            </tr>
            <tr>
                <th>Power_max</th>
                <td>{{ product.powerMax }}</td>
            </tr>
            <tr>
                <th>Power_source</th>
                <td>{{ product.powerSource }}</td>
            </tr>
            <tr>
                <th>Availability</th>
                <td>{{ product.availability ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Quantity_left</th>
                <td>{{ product.quantityLeft }}</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>{{ product.material }}</td>
            </tr>
            <tr>
                <th>Special_features</th>
                <td>{{ product.specialFeatures }}</td>
            </tr>
            <tr>
                <th>Style</th>
                <td>{{ product.style }}</td>
            </tr>
            <tr>
                <th>discount</th>
                <td>{{ product.discount }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="{{ product.picture }}" alt="" height="70px"></td>
            </tr>
        </tbody>
    </table>

    <div>
        <h2>All products from category {{ type }}</h2>
       
        {% for product in products %}
        {% if type == product.type %}
           <div>
            <img src="{{ product.picture }}" alt="" height="70px">
            <p>{{ product.name }}</p>
            <p>{{ product.price }} &#8364;</p>
            <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
           </div>
           {% endif %}
        {% endfor %}
       
    </div>
<hr>


    <div>
    <h5>Questions</h5>
    <a href="{{ path('app_reviews_question', {'id': product.id}) }}" class="btn btn-primary">Ask a question</a>
    {% for review in reviews %}
        {% if review.type == 'question' %}
            <p>Type: {{review.type}}</p>
            <p>{{review.fkAuthor.email}}</p>
            <p>{{review.review}}</p>
            <a href="{{ path('app_reviews_answer', {'id': review.fkAuthor.id}) }}" class="btn btn-secondary">Answer a question</a>
        {% endif %}
        {% if review.type == 'answer' %}
        <p>Answer:</p>
            <p>{{review.fkAuthor.email}}</p>
            <p>{{review.review}}</p>                
        {% endif %}
            
    {% endfor %}    
    </div>
    <hr>

    <div>  
    <h5>Reviews</h5>
    {% for review in reviews %} 
        {% if review.type == 'review' %} 
            <div>
                <h5>{{review.title}}</h5>
                {# <p>{{review.type}}</p> #}
                {% if review.fkAuthor.email == user.email %}
                    <p>{{review.fkAuthor.email}} <span style="color: red;">purchase confirmed</span></p>
                {% else %}
                    <p>{{review.fkAuthor.email}}</p>
                {% endif %}
                <p>Raiting: {{review.rating}}</p>
                <p>{{review.title}}</p>
                <p>{{review.review}}</p>
                <a href="/user/reviews/delete/{{ review.id }}" class="btn btn-danger">Delete</a> 
            </div>
        {% endif %}
    {% endfor %}
    <a href="{{ path('app_reviews_new', {'id' : product.id}) }}" class="btn btn-primary">Create New Review</a>
</div>
    <a href="/user/" class="btn btn-primary">Go Back</a>
{% endblock %}
