{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}


{% block stylesheets %} 
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('css/product.css')}}">
    {% endblock %}
{% block body %}

    <div class="category">
       
        {% for product in products %}
        <a href="{{ path('app_product_category', {'type':product.type}) }}" class="categoryBtn">{{ product.type }}</a>
        {% endfor %}
    </div>
    
    
    

    <section class="products">
        <h1 class="headline">Product <span>Catalogue</span></h1>
        <div class="parts-container container">
          <div class="row row-cols-md-3">
              {% for product in products %}
                <div class="box">
                    {# <h3>Special Fans</h3> #}
                    <img src="{{ asset('pictures/' ~ product.picture) }}" class="card-img-top" alt="Fan">
                    <h2 class="fans-title">{{ product.name }}</h2>
                    <hr>
                    <p class="card_text">{{ product.type }}</p>
                    {% if product.discount > 0 %}
                    <p class="card_text oldPrice">{{ product.price }} &#8364;</p>
                        <p class="card_text price">{{ product.price - (product.price * product.discount) }} &#8364;</p>
                    {% else %}
                        <p class="card_text price">{{ product.price }} &#8364;</p>
                    {% endif %}
                    <p class="card_text">{{ product.shortDescription }}</p>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn">Details</i></a> 
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn">Edit</a>                  
                </div>
              {% endfor %}
          </div>
      </div>
      </section>
      <section class="notApprovedProducts">
        <h5 class="headline">Not Approved Products</h5>
        {% for product in notproducts %}
            <div class="box">
                <h3>Special Fans</h3>
                <img src="{{ asset('pictures/' ~ product.picture) }}" class="card-img-top" alt="Fan">
                <h2 class="fans-title">{{ product.name }}</h2>
                <hr>
                <p class="card_text">{{ product.type }}</p>
                {% if product.discount > 0 %}
                <p class="card_text oldPrice">{{ product.price }} &#8364;</p>
                    <p class="card_text price">{{ product.price - (product.price * product.discount) }} &#8364;</p>
                {% else %}
                    <p class="card_text price">{{ product.price }} &#8364;</p>
                {% endif %}
                <p class="card_text">{{ product.shortDescription }}</p>
                <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn">Details</i></a> 
                <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn">Edit</a>                  
            </div>
        {% endfor %}
      </section>
{% endblock %}
