{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1 class="headline">{{ product.name }} - details</h1>

    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <img src="{{ asset('pictures/' ~ product.picture) }}" class="detailsImage">
        </div>
        <div class="flex-grow-1 ms-3">
            {% if product.discount > 0 %}
                <p class="oldPrice detailsText">{{ product.price }} &#8364;</p>
                <p class="price detailsText">{{ {{ discountPrice }} &#8364; }} &#8364;</p>
            {% else %}
                <p>{{ product.price }} &#8364;</p>
            {% endif %}
            {# for admin #}
            <p class="detailsText">Brand: <a href="{{ path('app_brand_show', {'id': brand.id}) }}">{{ brand.name }}</a></p>
            <p class="detailsText">Dimentions: {{ product.prodDimensions }}</p>
            <p class="detailsText">Description: {{ product.description }}</p>
            <p class="detailsText">Color: {{ product.color }}</p>
            <p class="detailsText">Max power: {{ product.powerMax }}</p>
            <p class="detailsText">Power source: {{ product.powerSource }}</p>
            <p class="detailsText">Availability: {{ product.availability ? 'Yes' : 'No' }}</p>
            <p class="detailsText">Left in stock: {{ product.quantityLeft }}</p>
            <p class="detailsText">Material: {{ product.material }}</p>
            <p class="detailsText">Special features: {{ product.specialFeatures }}</p>
            <p class="detailsText">Style: {{ product.style }}</p>
                {# for users #}
                {# <p>Brand: <a href="{{ path('app_user_access_brand', {'id': brand.id}) }}">{{ brand.name }}</a></p> #}
                <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn">edit</a>

                {{ include('product/_delete_form.html.twig') }}
        </div>
      </div>
{# need to change layout for category, questions and reviews #}
    <div class="categoryProducts">
        <h2>All products from category {{ type }}</h2>
        {% for product in products %}
        {% if type == product.type %}
           <div>
            <img src="{{ asset('pictures/' ~ product.picture) }}" alt="" height="70px">
            <p>{{ product.name }}</p>
            <p>{{ product.price }} &#8364;</p>
            <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
           </div>
           {% endif %}
           {% endfor %}
    </div>


    <div>
    <h5>Questions</h5>
    <a href="{{ path('app_reviews_question', {'id': product.id}) }}" class="btn btn-primary">Ask a question</a>
    {% for review in reviews %}
        {% if review.type == 'question' %}
            <p>Question:</p>
            <p>{{review.type}}</p>
            <p>{{review.fkAuthor.email}}</p>
            <p>{{review.review}}</p>
            <a href="{{ path('app_reviews_answer', {'id': review.fkAuthor.id}) }}" class="btn btn-secondary">Answer a question</a>  
        {% endif %}
            {% if review.type == 'answer' %}
            <p>Answer:</p>
                <p>{{review.fkAuthor.email}}</p>
                <p>{{review.review}}</p>             
            {% endif %}
        
    {% endfor %}  
    </div>

   <hr>
 
    <div>
    <h5>Reviews</h5>
{% for review in reviews %}
    {% if review.type == 'review' %}
        <div>
            <h5>{{review.title}}</h5>
            <p>{{review.type}}</p>
            <p>{{review.review}}</p>
            {% if review.fkAuthor.email == user.email %}
                <p>{{review.fkAuthor.email}} <span style="color: red;">purchase confirmed</span></p>
            {% else %}
                <p>{{review.fkAuthor.email}}</p>
            {% endif %}
            <p>{{review.rating}}</p>
            <a href="/admin/product/reviews/{{ review.id }}" class="btn btn-danger">Delete</a>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
