{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block stylesheets %} 
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('css/details.css')}}">
    {% endblock %}

{% block body %}
    <h1 class="headline">{{ product.name }}</h1>

    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <img src="{{ asset('pictures/' ~ product.picture) }}" class="detailsImage">
        </div>
        <div class="flex-grow-1 ms-3">
            {% if product.discount > 0 %}
                <p class="oldPrice detailsText">{{ product.price }} &#8364;</p>
                <p class="price detailsText">{{ discountPrice }} &#8364;</p>
            {% else %}
                <p>{{ product.price }} &#8364;</p>
            {% endif %}
            {# for admin #}
            <p class="detailsText">Brand: <a href="{{ path('app_brand_show', {'id': brand.id}) }}">{{ brand.name }}</a></p>
            <p class="detailsText">Dimentions: {{ product.prodDimensions }}</p>
            <p class="detailsText">Description: {{ product.description }}</p>
            <p class="detailsText">Color: {{ product.color }}</p>
            <p class="detailsText">Max power: {{ product.powerMax }}</p>
            <p class="detailsText">Power source: {{ product.powerSource }}</p>
            <p class="detailsText">Availability: {{ product.availability ? 'Yes' : 'No' }}</p>
            <p class="detailsText">Left in stock: {{ product.quantityLeft }}</p>
            <p class="detailsText">Material: {{ product.material }}</p>
            <p class="detailsText">Special features: {{ product.specialFeatures }}</p>
            <p class="detailsText">Style: {{ product.style }}</p>
                <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn">edit</a>

                {{ include('product/_delete_form.html.twig') }}
        </div>
      </div>
{# need to change layout for category, questions and reviews #}
    <div class="categoryProducts">
        <h2 class="headline">All products from category {{ type }}</h2>
        {% for product in products %}
            {% if type == product.type %}
                <div class="card" style="width: 15rem;">
                    <img src="{{ asset('pictures/' ~ product.picture) }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price }} &#8364;</p>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary">show</a>
                    </div>
                </div>
            {% endif %}
           {% endfor %}
    </div>


    <div class="questions">
    <h5 class="headline">Questions</h5>
    {# <a href="{{ path('app_reviews_question', {'id': product.id}) }}" class="btn btn-primary">Ask a question</a> #}
    {% for review in reviews %}
        {% if review.type == 'question' %}
            <p>Question:</p>
            <p>{{review.type}}</p>
            <p>{{review.fkAuthor.email}}</p>
            <p>{{review.review}}</p>
            <a href="{{ path('app_reviews_answer', {'id': review.fkAuthor.id}) }}" class="btn btn-secondary">Answer a question</a>  
        {% endif %}
            {% if review.type == 'answer' %}
            <p>Answer:</p>
                <p>{{review.fkAuthor.email}}</p>
                <p>{{review.review}}</p>             
            {% endif %}
        
    {% endfor %}  
    </div>

    <div class="questions">
        <h5 class="headline">Questions</h5>
        {% for question in reviews %}
            {% if question.type == 'question' %}
            <div class="d-flex">
                <div class="flex-shrink-0">
                    {% if question.fkAuthor.email == user.email %}
                    <p>{{question.fkAuthor.email}}</p>
                    {% else %}
                    <p>{{question.fkAuthor.email}}</p>
                    {% endif %}
                    
                </div>
                <div class="flex-grow-1 ms-3">
                    <p>{{question.review}}</p>
                    <a href="{{ path('app_reviews_answer', {'id': review.fkAuthor.id}) }}" class="btn btn-secondary">Answer a question</a> 
                    
                </div>
                
            </div> 
            {% endif %}
    
            {% if question.type == 'answer' %}
            <h6>Answers</h6>
            <div class="d-flex">
                <div class="flex-shrink-0">
                    
                    {% if question.fkAuthor.email == user.email %}
                    <p>{{question.fkAuthor.email}}</p>
                    {% else %}
                    <p>{{question.fkAuthor.email}}</p>
                    {% endif %}
                    
                </div>
                <div class="flex-grow-1 ms-3">
                    <p>{{question.review}}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}    
        </div>

   <hr>
 
    <div class="reviews">
    <h5 class="headline">Reviews</h5>
{% for review in reviews %}
    {% if review.type == 'review' %}
        <div>
            <h5>{{review.title}}</h5>
            <p>{{review.type}}</p>
            <p>{{review.review}}</p>
            {% if review.fkAuthor.email == user.email %}
                <p>{{review.fkAuthor.email}} <span class="badge bg-warning">purchase confirmed</span></p>
            {% else %}
                <p>{{review.fkAuthor.email}}</p>
            {% endif %}
            <p>{{review.rating}}</p>
            <a href="/admin/product/reviews/{{ review.id }}" class="btn btn-danger">Delete</a>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}

