{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block stylesheets %} 
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('css/about.css')}}">
    {% endblock %}

{% block body %}
        <div class="headerImg">
            <img src="/pictures/onlyF.png" alt="">
        </div>


        <section class="about" id="about">
            <div class="about-text">
                <h1>Your <span>Fans</span> Await You</h1>
                <a href="#" class="btn" id="search">Search Your Interest</a>
            </div>
        </section>

        <section class="video">
            <div id="commercial">
                <div class="container">
                    <video controls autoplay>
                        <source src="{{ asset('pictures/advertisment.mp4') }}" type="video/mp4">
                    </video>
                </div>
            </div>
        </section>



    <section class="about container" id="about">
        <div class="about-text">
            
            <br>
            <h2><span>Big</span>Stats</h2>
            <br>
            

        <div class="about-img">
            <img src="{{ asset('pictures/revenue.png') }}" alt="">
        </div>

        <div class="about-img">
            <img src="{{ asset('pictures/profits.png') }}" alt="">
        </div>

        <div class="about-img">
            <img src="{{ asset('pictures/valuation.png') }}" alt="">
        </div>
        
        <!-- <a href="#" class="btn">Learn More</a> -->
    </div>
    </section>

    <footer class="footer">
        <div class="share">
            <a href="" class="btn"> <i class="fab fa-facebook-f"></i></a>
            <a href="" class="btn"> <i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/onlyfans/" class="btn"> <i class="fab fa-instagram"></i></a>
            <a href="" class="btn"> <i class="fab fa-linkedin"></i></a>
            <a href="" class="btn"> <i class="fab fa-pinterest"></i></a>
            
        </div>
    </footer>

{% endblock %}
