{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <div>
        <h2>Order details</h2>
        {% for item in items %}
        <div>
            <img src="{{ item.fkProduct.picture }}" alt="">
            <p>{{ item.fkProduct.picture }}</p>
            <p>{{ item.fkProduct.name }}</p>
            <p>{{ item.fkProduct.price }} &#8364;</p>
        </div>
        {% endfor %}
        
    </div>
    <hr>
    <div>
        <h2>Buyer's details</h2>

        <h5>Delivery Address</h5>
        {# <p>{{ items.street }} : {{ items.str_number_ap_number }}, {{ items.post_code }} {{ items.city }}</p> #}
    </div>
    <a href="/user/order/check_out_confirm" class="btn btn-success">confirm</a>
{% endblock %}
