{% extends 'base.html.twig' %}

{% block title %}Check-out{% endblock %}

{% block stylesheets %} 
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('css/cart.css')}}">
    {% endblock %}
{% block body %}
    <div class="flex">
        <h2>Order details</h2>

        {% for item in items %}
        <div class="smallImg">
            <img src="{{ asset('pictures/' ~ item.fkProduct.picture) }}" alt="">
            <p>{{ item.fkProduct.name }}</p>
            <p>Price: {{ item.fkProduct.price }} &#8364;</p>
            <p>Quantity: {{ item.quantity }}</p>
        </div>
        {% endfor %}
        
    </div>

    <hr>

    <div>
        {# <h2>Buyer's details</h2> #}

        <p class="text-center">You will recieve an email confirming your order details </p>
    </div>
    <a href="/user/order/check_out_confirm" class="btn btn-success">Confirm</a>
{% endblock %}
