{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<h1>Cart index</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Brand</th>
                    <th>Prod_dimensions</th>
                    <th>Short_description</th>
                    <th>discount</th>
                    <th>Picture</th>
                    <th>Quantity</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.fkProduct.id }}</td>
                    <td>{{ item.fkProduct.name }}</td>
                    <td>{{ item.fkProduct.price }}</td>
                    <td>{{ item.fkProduct.type }}</td>
                    <td>{{ item.fkProduct.FkBrand.name }}</td>
                    <td>{{ item.fkProduct.prodDimensions }}</td>
                    <td>{{ item.fkProduct.shortDescription }}</td>
                    <td>{% if item.fkProduct.discount > 0 %}
                        {{ item.fkProduct.discount }}
                        {% else %}
                            no discount
                        {% endif %}</td>
                    <td><img src="{{ item.fkProduct.picture }}" alt="" height="70px"></td>
              <td>{{ item.quantity }}</td>
               <td><a href="/user/order_item/delete/{{ item.id }}" class="btn btn-danger">Delete</a>
                
                </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="17">no records found</td>
                </tr>
            {% endfor %}
            <a href="/user/order/check_out" class="btn btn-danger">Buy</a>
            </tbody>
        </table>
{% endblock %}