{% extends 'base.html.twig' %}
{% block title %}Cart{% endblock %}

{% block body %}
<h1 class="headline">Cart</h1>


            {% for item in items %}
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <img src="{{ asset('pictures/' ~ item.fkProduct.picture) }}" height="250px">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p>{{ item.fkProduct.name }}</p>
                        {{ item.fkProduct.type }}
                        {% if item.fkProduct.discount > 0 %}
                        <p class="oldPrice">{{ item.fkProduct.price }} &#8364;</p>
                        <p class="price">Price with discount: {{ item.fkProduct.price - (item.fkProduct.price * item.fkProduct.discount) }} &#8364;</p>  
                        {% else %}
                        <p>{{ item.fkProduct.price }} &#8364;</p> 
                        {% endif %}
                        <p>{{ item.quantity }}</p>
                        <a href="/user/order_item/delete/{{ item.id }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            {% endfor %}
            <div>
                <h5>Total price: {{ total }}</h5>
                <a href="/user/order/check_out" class="btn btn-danger">Buy</a>
            </div>
{% endblock %}