{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1 class="headline">User</h1>

{% block stylesheets %} 
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('css/details.css')}}">
    {% endblock %}

    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="{{ user.picture }}" width="300px">
                {# <img src="{{ asset('pictures/' ~ user.picture) }}" width="20rem"> #}
            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn">edit</a>
            {{ include('user/_delete_form.html.twig') }}
        </div>
        <div class="flex-grow-1 ms-3">
            <p>Id: {{ user.id }}</p>
            <p>Email:{{ user.email }}</p>
            <p>First name: {{ user.firstName }}</p>
            <p>Last name:{{ user.lastName }}</p>
            <p>Date of birth:{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</p>
            <p>Roles: {{ user.roles ? user.roles|json_encode : '' }}</p>
            <p>Password: {{ user.password }}</p>
            <p>Phone number: {{ user.phoneNumber }}</p>
            <p>Address: {{ user.street }} {{ user.strNumberApNumber }}, {{ user.postCode }} {{ user.city }}</p>
        </div>
      </div>

{% endblock %}
